._container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 50px 0;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.date {
    font-size: 16px;
    color: rgba(108, 110, 123, 1);
    padding: 6px 18px;
    border-radius: 20px;
    background-color: rgba(236, 242, 245, 1);
    display: inline-flex;
}

._borderTop {
    color: rgba(108, 110, 123, 1);
    border-top: 1px solid;
}

._borderBottom {
    color: rgba(108, 110, 123, 1);
    border-bottom: 1px solid;
}

._marginBottom {
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color .3s ease-in-out;
    border: 2px solid rgba(132, 24, 68, 1);
    color: rgba(132, 24, 68, 1);
    font-size: 16px;
    text-align: center;
}

.arrow-button {
    width: fit-content;
    text-transform: uppercase;
    padding: 16px 42px;
    border-radius: 50px;
    display: inline-flex;
    gap: 25px;
    align-items: center;
}

.arrow {
    position: relative;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgba(132, 24, 68, 1);
    border-left: 2px solid rgba(132, 24, 68, 1);
    margin-left: 10px;
}

.arrowRight {
    transform: rotate(135deg);
}

.arrowLeft {
    transform: rotate(-45deg);
}

.arrow::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -6px;
    width: 2px;
    height: 25px;
    background-color: rgba(132, 24, 68, 1);
    transform: rotate(-45deg) translate(15px, 4px);
}